<link rel="stylesheet" href="~/css/DetallesUser.css">

<div class="card">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="card-img-top" alt="...">
    <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre: </th>
                        <th scope="col">Daniel </th>
                    </tr>
                    <tr>
                        <th scope="col">Apellido: </th>
                        <th scope="col">Montiel</th>
                    </tr>
                    <tr>
                        <th scope="col">Edad: </th>
                        <th scope="col">22</th>
                    </tr>
                    <tr>
                        <th scope="col">Genero: </th>
                        <th scope="col">M</th>
                    </tr>
                    <tr>
                        <th scope="col">Correo: </th>
                        <th scope="col">daniel@gmail.com</th>
                    </tr>
                    <tr>
                        <th scope="col">Numero de documento: </th>
                        <th scope="col">464546564</th>
                    </tr>
                    <tr>
                        <th scope="col">Telefono: </th>
                        <th scope="col">253723283293</th>
                    </tr>
                    <tr>
                        <th scope="col">Direccion: </th>
                        <th scope="col">cl 53 N 45 a 34</th>
                    </tr>
                    <tr>
                        <th scope="col">Nombre de Pariente: </th>
                        <th scope="col">Carlos Montiel</th>
                    </tr>
                    <tr>
                        <th scope="col">telefono del Pariente: </th>
                        <th scope="col">3489464545455</th>
                    </tr>
                    <tr>
                        <th scope="col"><a class="btn btn-primary " asp-area="" asp-controller="Usuarios" asp-action="Index">Volver</a> </th>
                    </tr>
                </thead>
            </table>
    </div>
</div>