<link rel="stylesheet" href="~/css/DetallesUser.css">

<div class="card">
    <img src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/3eff6464-a3c7-4cf3-834c-2bb34fbd5ed5.__CR0,0,300,300_PT0_SX300_V1___.png" class="card-img-top" alt="...">
    <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre: </th>
                        <th scope="col">Volver a empezar</th>
                    </tr>
                    <tr>
                        <th scope="col">Autor: </th>
                        <th scope="col">Montiel</th>
                    </tr>
                    <tr>
                        <th scope="col">Año: </th>
                        <th scope="col">1990</th>
                    </tr>
                    <tr>
                        <th scope="col">Genero literario: </th>
                        <th scope="col">Romance</th>
                    </tr>
                    <tr>
                        <th scope="col">Estado fisico del libro: </th>
                        <th scope="col">Bueno</th>
                    </tr>
                    <tr>
                        <th scope="col">Disponibilidad: </th>
                        <th scope="col">No disponible</th>
                    </tr>
                    <tr>
                        <th scope="col">
                            <a class="btn btn-primary" asp-controller="Libros" asp-action="Index">Volver</a>
                        </th>
                    </tr>
                </thead>
            </table>
    </div>
</div>